<h1><%= @place["name"] %></h1>

<p><a href="/places">Back to List of Places</a></p>

<form action="/places/<%= @place["id"] %>" method="post">
  <input type="hidden" name="_method">
</form>

<button>Edit</button>